*{
    
  /* outline: 1px dotted red;*/
    
}

.wrapper{
    width: 970px;
    margin: 0px auto;
    background-color:#245076;
    color:white;
}

.header{
    width: 960px;
    display: flex;
}

    .header img{
        width: 375px;
    } 
    .header a{
        color:#cbad04;
    }
    .header span{
        color:black;
    }
.buscador{
        display:inline-block;
        margin-left: 270px;
        text-align: center;
     }   

    .buscador2{
        width: 260px;
        height: 50px;
        background-color: #444444;
        border-radius: 10px;
        padding-right: 10px;
        padding-top: 10px;
        box-shadow: 2px 2px 2px black;
    }
    
    .buscador2 button{
         background-color:#245076;
         margin: 5px;
         padding: 6px;
         border-radius: 5px;
         color: white;
    }

.navegador{
    display: flex;
    background-color: #487EAD;
    padding:10px 10px 10px 10px;
    margin: 12px 50px 12px 90px;
    border-radius: 7px;
    list-style: none;
    justify-content: space-around;
    font-size: 20px;
    box-shadow: 2px 2px 2px black;
}
    
.listado{
    display: inline-block;
    text-align: center;
    margin-left: 100px;
    list-style: none;
}

    .listado li{
        margin: 12px;
    }

    .listado a{
        color: white;
        }
    

    .listado span{
        color: #cbad04;
        font-size: 10px; 
    }

.parrafo{
    display: inline-block;
    width: 600px;
    text-align: center;   
    vertical-align: top;
    margin-left: 20px;    
}

.parrafo li{
    color:  #cbad04;
    list-style: none;
    text-align: center;
    margin: 10px;
}

   .parrafo p{
       text-align: center;
       color: white;
       margin: 10px;
   }
.parrafo2{
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-around;
    padding: 15px 40px;
    text-align: center;
    font-size: 15px;

}

.parrafo2 div{
    width: 400px;
    border-top: 4px solid #72acdf;
    justify-content: center;

}

.parrafo2 div a {
    color:#9ABFE0;
}

.footer{
     text-align: center;
     padding-top:15px;

}

    .footer li{
        display: inline-block;
        justify-content: space-around;
        margin: 10px;
        list-style: none;
        font-size: 20px;
        color: #9ABFE0;

    }

    .footer p{
        text-align: center;
        color: #9ABFE0;
    }







    